<!-- FOOTER -->
<footer class="footer footer-center p-10 bg-base-300 text-base-content border-t border-base-100">
  <aside>
    <p class="font-bold">
      ApiVigil <br />
      <span class="font-normal opacity-70">Real-time API monitoring services.</span>
    </p>
    <p>
      Copyright ©{% now 'Y' %}- All right reserved
    </p>
  </aside>
  <nav class="grid grid-flow-col gap-4 italic opacity-50 text-xs">
    <a class="link link-hover">Terms</a>
    <a class="link link-hover">Privacy</a>
    <a class="link link-hover">Github</a>
  </nav>
</footer>
